.Rproj.user
.Rhistory
.RData
.Ruserdata
HEP_trends_20190722.docx
colony_species_mean_sd.csv
colony_year_spp.csv
airquality.png
compare_site_names.csv
colony_year_spp.xlsx
figures_output
HEP_data
images
figures
